<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
<h2>Add User</h2>

<form th:action="@{/admin/addUser}" th:object="${user}" method="post">
    Username: <input type="text" th:field="*{username}" required><br>
    Email: <input type="text" th:field="*{email}" required><br>
    Password: <input type="password" th:field="*{password}" required><br>
    <button type="submit">Add User</button>
</form>

<a th:href="@{/admin/users}">Back to User List</a>
</body>
</html>
