<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h2>Edit User</h2>

<form th:action="@{/admin/editUser/{id}(id=${user.userId})}" th:object="${user}" method="post">
    Username: <input type="text" th:field="*{username}" required><br>
    Email: <input type="text" th:field="*{email}" required><br>
    Password: <input type="password" th:field="*{password}" required><br>
    <button type="submit">Update User</button>
</form>

<a th:href="@{/admin/users}">Back to User List</a>
<a th:href="@{/admin/index}">后台首页</a>
<a th:href="@{/admin/logout}">退出登录</a>
</body>
</html>
