<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- resources/mapper/AdminMapper.xml -->
<mapper namespace="com.example.kongblog.mapper.AdminMapper">
    <insert id="insertAdmin" parameterType="com.example.kongblog.model.Admin">
        INSERT INTO admin (username, password, created_at)
        VALUES (#{username}, #{password}, #{email}, #{createdAt})
    </insert>
    <select id="getAdminByUsername" parameterType="java.lang.String" resultType="com.example.kongblog.model.Admin">
        SELECT * FROM admin WHERE username = #{username}
    </select>
    <select id="getAllAdmins" resultType="com.example.kongblog.model.Admin">
        SELECT * FROM admin
    </select>
    <!-- Other methods -->

</mapper>
