<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- resources/mapper/BlogMapper.xml -->
<mapper namespace="com.example.kongblog.mapper.BlogMapper">

    <insert id="insertBlog" parameterType="com.example.kongblog.model.Blog">
        INSERT INTO blog (title, content, user_id, category_id, created_at)
        VALUES (#{title}, #{content}, #{userId}, #{categoryId}, #{createdAt})
    </insert>

    <select id="getBlogById" parameterType="java.lang.Long" resultType="com.example.kongblog.model.Blog">
        SELECT * FROM blog WHERE blog_id = #{blogId}
    </select>

    <select id="getAllBlogs" resultType="com.example.kongblog.model.Blog">
        SELECT * FROM blog
    </select>

    <update id="updateBlog" parameterType="com.example.kongblog.model.Blog">
        UPDATE blog SET title = #{title}, content = #{content}, user_id = #{userId},
                        category_id = #{categoryId} WHERE blog_id = #{blogId}
    </update>

    <delete id="deleteBlog" parameterType="java.lang.Long">
        DELETE FROM blog WHERE blog_id = #{blogId}
    </delete>

    <!-- Other methods -->

</mapper>
