<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- resources/mapper/CategoryMapper.xml -->
<mapper namespace="com.example.kongblog.mapper.CategoryMapper">

    <insert id="insertCategory" parameterType="com.example.kongblog.model.Category">
        INSERT INTO category (name)
        VALUES (#{name})
    </insert>

    <select id="getCategoryById" parameterType="java.lang.Long" resultType="com.example.kongblog.model.Category">
        SELECT * FROM category WHERE category_id = #{categoryId}
    </select>

    <select id="getAllCategories" resultType="com.example.kongblog.model.Category">
        SELECT * FROM category
    </select>

    <!-- Other methods -->

</mapper>
